#input{
    display: flex;
    justify-content: space-between;
}

#names{
    margin-left: 10px;
}

#checkboxes{
    margin-right: 200px;
}


@media screen and (max-width: 1000px) {
   #checkboxes{
        margin-right: 0;
   }
}

@media screen and (max-width: 760px) {
    .text{
        margin-bottom: 28px;
    }
    #checkboxes {
        margin-right: 0;
        margin-left: 20px;
        width: 270px;
    }
    .box {
        margin-top: -8px;
        margin-bottom: 10px;
    }
}